<ion-header>
  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button (click)="clickPromise()">click promise</button>
  <form [formGroup]="loginForm" (ngSubmit)="saveData()">
    <ion-list>
      <ion-item>
         <ion-label fixed>nickname*:</ion-label>
        <ion-input formControlName="nickname" placeholder="Digite su nickname"></ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.get('nickname').errors && loginForm.get('nickname').dirty">
        <p *ngIf="loginForm.get('nickname').hasError('required')" ion-text color="danger">Este campo es requerido</p>
        <p *ngIf="loginForm.get('nickname').hasError('minlength')" ion-text color="danger">Este campo minimo debe ser de 4 carcsasas</p>
        <p *ngIf="loginForm.get('nickname').hasError('maxlength')" ion-text color="danger">no maximo a 10 caracteres</p>
      </ion-item>
      <ion-item>
        <ion-label fixed>Nombre:</ion-label>
        <ion-input formControlName="name" placeholder="Digite su nombre"></ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.get('name').errors && loginForm.get('name').dirty">
        <p *ngIf="loginForm.get('name').hasError('required')" ion-text color="danger">El campo es requerido</p>
        <p *ngIf="loginForm.get('name').hasError('pattern')" ion-text color="danger">No es un nombre valido</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Correo:</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.get('email').errors && loginForm.get('email').dirty">
        <p *ngIf="loginForm.get('email').hasError('required')" ion-text color="danger">El campo es requerido</p>
        <p *ngIf="loginForm.get('email').hasError('email')" ion-text color="danger">el email no es valido</p>
      </ion-item>
      <ion-item>
        <ion-label fixed>Apellido:</ion-label>
        <ion-input formControlName="lastname" placeholder="Digite su apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>username:</ion-label>
        <ion-input formControlName="username" placeholder="Digite su usermae"></ion-input>
      </ion-item>
      <div formGroupName="passwordGroup">
        <ion-item>
          <ion-label stacked>Password:</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="loginForm.get('passwordGroup').get('password').errors && loginForm.get('passwordGroup').get('password').dirty">
          <p *ngIf="loginForm.get('passwordGroup').get('password').hasError('required')" ion-text color="danger">Este campo es requerido</p>
          <p *ngIf="loginForm.get('passwordGroup').get('password').hasError('minlength')" ion-text color="danger">Este campo debe ser mayor a 6</p>
        </ion-item>
        <ion-item>
          <ion-label stacked>Confirm Password:</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <ion-item *ngIf="loginForm.get('passwordGroup').get('confirmPassword').errors && loginForm.get('passwordGroup').get('confirmPassword').dirty">
          <p *ngIf="loginForm.get('passwordGroup').get('confirmPassword').hasError('required')" ion-text color="danger">Este campo es requerido</p>
          <p *ngIf="loginForm.get('passwordGroup').get('confirmPassword').hasError('minlength')" ion-text color="danger">Este campo debe ser mayor a 6</p>
        </ion-item>
        <ion-item *ngIf="loginForm.get('passwordGroup').errors && loginForm.get('passwordGroup').get('confirmPassword').dirty">
          <p ion-text color="danger">la contreña no coincide</p>
        </ion-item>
      </div>
      <ion-item>
        <ion-label stacked>Age:</ion-label>
        <ion-input formControlName="age" type="number" placeholder="Digite su edad"></ion-input>
      </ion-item>
      <ion-item  *ngIf="loginForm.get('age').errors && loginForm.get('age').dirty">
        <p *ngIf="loginForm.get('age').hasError('required')" ion-text color="danger">El campo es requerido</p>
        <p *ngIf="loginForm.get('age').hasError('isyoung')" ion-text color="danger">eres un bebe</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Telefono:</ion-label>
        <ion-input formControlName="phone" type="tel" placeholder="Digite su telefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>date:</ion-label>
        <ion-input formControlName="date" type="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Biografia:</ion-label>
        <ion-textarea formControlName="bio"></ion-textarea>
      </ion-item>
      <ion-list-header>
        Sabores favoritos
      </ion-list-header>
      <ion-item>
        <ion-label>Chontaduro</ion-label>
        <ion-checkbox formControlName="chontaduro" color="danger"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Fresa</ion-label>
        <ion-checkbox formControlName="fresa"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Borojo</ion-label>
        <ion-checkbox formControlName="borojo"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Uchuva</ion-label>
        <ion-checkbox formControlName="uchuva"></ion-checkbox>
      </ion-item>
       <ion-list-header>
        Genero
      </ion-list-header>
      <div radio-group formControlName="genero">
        <ion-item>
          <ion-label>Masculino</ion-label>
          <ion-radio value="M"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Femenimo</ion-label>
          <ion-radio value="F" color="dark"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Otro</ion-label>
          <ion-radio value="O"></ion-radio>
        </ion-item>
      </div>
      <ion-item>
        <ion-label>Fecha de aniversario</ion-label>
        <ion-datetime formControlName="anirversary"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-range formControlName="children" pin min="0" max="10" step="2">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>10</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>Peliculas</ion-label>
        <ion-select formControlName="movies" multiple="true">
          <ion-option value="1">Terminator</ion-option>
          <ion-option value="2">Rapido y fur n</ion-option>
          <ion-option value="3">Matrix</ion-option>
          <ion-option value="4">harry po...</ion-option>
          <ion-option value="5">Narnia</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Quieres reciir correos</ion-label>
        <ion-toggle formControlName="mail"></ion-toggle>
      </ion-item>
    </ion-list>
    <div padding>
      <button [disabled]="loginForm.invalid" ion-button type="submit">Save</button>
      <button ion-button type="button">Tomar foto</button>
    </div>
  </form>
  <button ion-button (click)="goToHomePage()">Home</button>
</ion-content>